*{


margin: 0%;

color: white;

background-color: #595959;


}


.INFO{

    display: flex;
    flex-direction: column;
align-items: center;

justify-content: center;



}

.IMAGE,.Title,.Name,.Email,.Linkedin
{

    margin-bottom:10px
}

.IMAGE{


    width:25%;
    height:20%
}

.About
{

flex-direction: column;
    display: flex;
margin-bottom: 10px;

margin-left: 25%;

width:50%;

}

.About>h1,.Interests>h1
{

 margin-bottom: 10px;

}

.Interests
{

    flex-direction: column;
    display: flex;

margin-bottom: 10px;

margin-left: 25%;

width:50%;

}


.Email,.Linkedin,.Github
{

    

    border-radius: 8px;

    height: 30px;

    width: 80px;
}

.Email{

background-color: white;

color: black;

margin-right: 20px;

}

.Linkedin
{


    color: aliceblue;
    background-color: cyan;

    margin-right: 20px;
}


.Github
{
    color: black;
    background-color: darkblue;
}

.Icons

{

    display: flex;

margin-top: 30px;

    justify-content: center;

    height: 30px;

    background-color: black;

    align-items: center;

    


}

.Twitter,.Facebook,.Instagram,.FaGithub
{

height: 20px;
color: red;
    margin-right: 10px;

    background-color: black;
}